// App Header
.app-header {
  z-index: 10;
  position: sticky;
  top: -100%;

  &.active {
    top:0;
    transition: all 0.2s ease-in-out;
    // transform: translateY(-100%);
  }

  > nav {
    background-color: var(--gray-7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
  }
}

.logo {
  height: 32px;
  width: auto;
  svg {
    width: auto;
    height: 100%;
  }
}

.menu-toggler {
  z-index: 20;
  position: relative;
  color: inherit;
}

.menu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-2);
  color: var(--white);
}

.menu-enter-active,
.menu-leave-active {
  transition: transform 0.3s ease;
}
.menu-enter,
.menu-leave-to {
  // opacity: 0;
  transform: translateX(100%);
}
