// 
// Global Styles ( IE => Don't Use 'gap'. )
// 

$theme-bg: #f3f7fc;
$theme-color: #000;
$theme-link: #0048ff;

:root {
  --theme-bg: #{$theme-bg};
  --theme-color: #{$theme-color};
  --theme-link: #{$theme-link};
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--theme-bg);
  color: var(--theme-color);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--theme-link);

  &:is(:hover, :focus) {
    color: lighten($theme-link, 15%);
  }
}

ul,dl,li,dt,dd {
  margin: 0;
  padding:0;
  list-style: none;
}

// Only ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-bg: #343a41;
    --theme-color: #fff;
    --theme-link: #0095ff;
  }
}