// border-*
@each $key, $value in $rounded-sizes {
	.rounded#{$key} {
		border-radius: $value !important;
	}
}

// border-{direction}-width
@mixin border-width {
	@each $key, $value in $border-widths {
		&#{$key} {
			border#{$value}-width: #{$border-width} !important;
		}
		&#{$key}-0 {
			border#{$value}-width: 0 !important;
		}
	}
}
// border-{style}
@mixin border-style {
	@each $key, $value in $border-style {
		&#{$key} {
			border-style: $value !important;
		}
	}
}
// border-{color}
@mixin border-color {
	@each $key, $value in $color-palette {
		&-#{"" + $key} {
			border-color: $value !important;
		}
	}
	@each $key, $value in $grays {
		&-#{"" + $key} {
			border-color: $value !important;
		}
	}
}


.border {
	@include border-width;
	@include border-style;
	@include border-color;
}