// fluid
@mixin make-container($gutter: $grid-gutter) {
	--gutter-x: #{$gutter};
	width: 100%;
	margin: auto;
	padding-right: calc(var(--gutter-x) / 2);
	padding-left: calc(var(--gutter-x) / 2);
}

.container,
.is-fluid {
	@include make-container();
}

// .container {
//   @each $breakpoint, $width in $container-max-widths {
//     @include breakepoint-up(#{$breakpoint}) {
//       max-width: $width;
//     }
//   }
// }
