// My Variables

/* ---------------------------------------------------------- 
    colors palette
 ---------------------------------------------------------- */

$gray-100: #f7f9fb;
$gray-200: #e8e9ea;
$gray-300: #d1d3d5;
$gray-400: #babcc0;
$gray-500: #a3a6ab;
$gray-600: #757a81;
$gray-700: #5e646c;
$gray-800: #474d57;
$gray-900: #303742;

$grays: (
  gray-1: $gray-100,
  gray-2: $gray-200,
  gray-3: $gray-300,
  gray-4: $gray-400,
  gray-5: $gray-500,
  gray-6: $gray-600,
  gray-7: $gray-700,
  gray-8: $gray-800,
  gray-9: $gray-900
) !default;


$blue: #3d75a3;
$navy: #003d5b;
$green: #127039;
$teal: #00798c;
$yellow: #edae49;
$orange: #e58f65;
$red: #d1495b;

$primary: $navy;
$secondary: $blue;
$success: $teal;
$warning: $yellow;
$error: $red;
$gray: $gray-600;
$dark: $gray-800;
$light: $gray-200;
$black: #000;
$white: #fff;

$color-palette: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  error: $error,
  dark: $dark,
  light: $light,
  gray: $gray,
  black: $black,
  white: $white,
) !default;

/* ---------------------------------------------------------- 
    Typography
 ---------------------------------------------------------- */
 
 $text-align: (
   'left': left,
   'center': center,
   'right': right,
   );
   
$text-base: 1rem;

$text-xs: 11px; // $text-size-base * 0.688;
$text-sm: 12px; // $text-size-base * 0.75;
$text-md: 14px; // $text-size-base * 0.875;
$text-lg: 16px; // $text-size-base * 1;
$text-xl: 18px; // $text-size-base * 1.125;

$text-sizes: (
  'xs': $text-xs,
  'sm': $text-sm,
  'md': $text-md,
  'lg': $text-lg,
  'xl': $text-xl,
) !default;

$headings: (
  1: $text-base * 3.5,
  2: $text-base * 3,
  3: $text-base * 2.5,
  4: $text-base * 2,
  5: $text-base * 1.5,
  6: $text-base * 1
) !default;

$font-weight: (
  'thin': 100,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'bold': 600,
  'extrabold': 700
) !default;

/* ---------------------------------------------------------- 
    Grid & Container & BreakPoint
 ---------------------------------------------------------- */
// BreakPoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1400px
) !default;

// Cotainer
$container-max-widths: (
  sm: 575px,
  md: 767px,
  lg: 1199px,
  xl: 1399px
) !default;

$grid-count: 12 !default;
$grid-gutter: 1rem !default;


$border-width: 1px;
$border-width-lg: 2px;

$rounded: 4px;
$rounded-xs: 2px;
$rounded-sm: 4px;
$rounded-lg: 12px;
$rounded-full: 24px;
$rounded-0: 0;

$rounded-sizes: (
  '': $rounded,
  '-xs': $rounded-xs,
  '-sm': $rounded-sm,
  '-lg': $rounded-lg,
  '-full': $rounded-full,
  '-0': $rounded-0,
) !default;

/* ---------------------------------------------------------- 
Spacing
---------------------------------------------------------- */
$spacing: 0.5rem !default;
$space-count: 20 !default;

/* ---------------------------------------------------------- 
    Buttons
 ---------------------------------------------------------- */
$btn-size: 12px 16px !default;
$btn-size-sm: 4px 8px;
$btn-size-lg: 20px 24px;
$btn-size-xl: 28px 32px;

$btn-sizes: (
  '': $btn-size,
  '-sm': $btn-size-sm,
  '-lg': $btn-size-lg,
  '-xl': $btn-size-xl,
);

// ----------------------------------------------------------
//    Forms
// ----------------------------------------------------------
$form-bg-color: $gray-100;
$form-bg-disabled-color: $gray-200;
$form-border-color: $gray-300;
$form-border-active-color: $primary;
$form-border-disabled-color: $gray-300;
$form-border-width: 1px;
$form-padding: 1rem 1rem;
$form-padding-sm: 0.5rem 0.75rem;

// ----------------------------------------------------------
// Toggle Switch
// ----------------------------------------------------------
$switch-bg-color-on: var(--primary);
$switch-bg-color-off: var(--gray-3);
$switch-shadow-on: -0.5px 0.5px 2px 0 var(--primary);
$switch-shadow-off: 0.5px 0.5px 2px 0 var(--gray-4);
$switch-control-color: white;
$switch-width: 42px;
$switch-height: 24px;
$switch-gutter: 2px;
$switch-radius: 50%;
$switch-control-speed: 0.1s;
$switch-control-ease: ease-in;
$switch-radius: calc($switch-height / 2);
$switch-control-size: $switch-height - ($switch-gutter * 2);