// My Variables
/* ---------------------------------------------------------- 
    colors palette
 ---------------------------------------------------------- */

$gray-100: #333333;
$gray-200: #555555;
$gray-300: #70747e;
$gray-400: #96979b;
$gray-500: #d3d3d3;
$gray-600: #f2f2f2;
$gray-700: #f9f9f9;
$gray-800: #fcfcfe;

$black: #161616;
$white: #fff;

$grays: (
	gray-1: $gray-100,
	gray-2: $gray-200,
	gray-3: $gray-300,
	gray-4: $gray-400,
	gray-5: $gray-500,
	gray-6: $gray-600,
	gray-7: $gray-700,
	gray-8: $gray-800,
) !default;

$blue-1: #2763f6;
$blue-2: #0236b4;
$blue-3: #102043;
$blue-4: #28aefe;
$blue-5: #d4efff;
$blue-6: #f2faff;
$blue-7: #e8eef2;

$primary-1: $blue-1;
$primary-2: $blue-2;
$primary-3: $blue-3;
$primary-4: $blue-4;
$primary-5: $blue-5;
$primary-6: $blue-6;
$primary-7: $blue-7;
$lime: #92ff3e;
$dim: rgba($black, 0.3);
$red: #e71f2a;
$gray: $gray-400;
$light: $gray-500;
// $red-bg: #fff9f9;

$color-palette: (
	primary-1: $blue-1,
	primary-2: $blue-2,
	primary-3: $blue-3,
	primary-4: $blue-4,
	primary-5: $blue-5,
	primary-6: $blue-6,
	primary-7: $blue-7,
	red: $red,
	lime: $lime,
	black: $black,
	white: $white,
	gray: $gray,
	light: $light,
) !default;

// var(--colors)
:root {
	@each $name, $value in $color-palette {
		--#{''+$name}: #{$value};
	}
	@each $name, $value in $grays {
		--#{''+$name}: #{$value};
	}
}

/* ---------------------------------------------------------- 
    Typography
 ---------------------------------------------------------- */

$text-align: (
	"left": left,
	"center": center,
	"right": right,
);

$text-base: 1.4rem;

$text-xs: 1.1rem;
$text-sm: 1.2rem;
$text-md: 1.4rem;
$text-lg: 1.6rem;
$text-xl: 1.8rem;

$text-sizes: (
	"xs": $text-xs,
	"sm": $text-sm,
	"md": $text-md,
	"lg": $text-lg,
	"xl": $text-xl,
) !default;

$headings: (
	1: 3.0rem,
	2: 2.4rem,
	3: 2.0rem,
	4: 1.8rem,
	5: 1.6rem,
	6: 1.4rem,
) !default;

$body-text: (
	1: 1.5rem,
	2: 1.4rem,
	3: 1.3rem,
	4: 1.2rem,
	5: 1.1rem,
) !default;

$font-weight: (
	"thin": 100,
	"light": 300,
	"normal": 400,
	"medium": 500,
	"bold": 700,
	"extrabold": 800,
) !default;

/* ---------------------------------------------------------- 
    Grid & Container & BreakPoint
 ---------------------------------------------------------- */
// BreakPoint
$grid-breakpoints: (
	xs: 0,
	sm: 600px,
	// md: 768px,
	lg: 960px,
	// xl: 1400px
) !default;

// Cotainer
$container-max-widths: (
	sm: 599.99px,
	// md: 767px,
	lg: 959.99px,
	// xl: 1399px
) !default;

$grid-count: 12 !default;
$grid-gutter: 4.4rem !default;

/* ---------------------------------------------------------- 
Borders
---------------------------------------------------------- */
$border-width: 1px;
$border-width-lg: 2px;

$rounded: 4px;
$rounded-xs: 2px;
$rounded-sm: 2px;
$rounded-lg: 30px;
$rounded-full: 50%;
$rounded-0: 0;

$rounded-sizes: (
	"": $rounded,
	"-xs": $rounded-xs,
	"-sm": $rounded-sm,
	"-lg": $rounded-lg,
	"-full": $rounded-full,
	"-0": $rounded-0,
) !default;

$border-widths: (
	"": "",
	"-left": "left",
	"-right": "right",
	"-top": "top",
	"-bottom": "bottom",
) !default;

$border-style: (
	"-solid": "solid",
	"-dashed": "dashed",
	"-dotted": "dotted",
	"-double": "double",
) !default;

/* ---------------------------------------------------------- 
Spacing
---------------------------------------------------------- */
$spacing: 0.4rem !default;
$space-count: 20 !default;

/* ---------------------------------------------------------- 
    Buttons
 ---------------------------------------------------------- */
$btn-padding: 13px 20px;
$btn-padding-xs: 4px 8px;
$btn-padding-sm: 6px 12px;
$btn-padding-md: 10px 20px;
$btn-padding-lg: 18px 40px;

$btn-padding-sizes: (
	"": $btn-padding,
	"-xs": $btn-padding-xs,
	"-sm": $btn-padding-sm,
	"-md": $btn-padding-md,
	"-lg": $btn-padding-lg,
) !default;

$btn-height: 46px;
$btn-height-xs: 23px;
$btn-height-sm: 32px;
$btn-height-md: 40px;
$btn-height-lg: 58px;

$btn-height-sizes: (
	"": $btn-height,
	"-xs": $btn-height-xs,
	"-sm": $btn-height-sm,
	"-md": $btn-height-md,
	"-lg": $btn-height-lg,
) !default;

$btn-font-sizes: (
	"": $text-base,
	"-xs": $text-xs,
	"-sm": $text-base,
	"-md": $text-base,
	"-lg": $text-lg,
) !default;

// ----------------------------------------------------------
//    Forms
// ----------------------------------------------------------
$form-bg-color: transparent;
$form-bg-disabled-color: $gray-600;
$form-border-color: $gray-500;
$form-border-active-color: $primary-1;
$form-border-disabled-color: $gray-500;
$form-border-width: 1px;
$form-padding: 0 0 6px 0;
$form-padding-sm: 0.5rem 0.75rem;
$input-height: 32px;

// ----------------------------------------------------------
// Toggle Switch
// ----------------------------------------------------------
$switch-bg-color-on: var(--primary-1) !default;
$switch-bg-color-off: var(--gray-5) !default;
$switch-shadow-on: -0.5px 0.5px 2px 0 var(--primary-1) !default;
$switch-shadow-off: 0.5px 0.5px 2px 0 var(--gray-4) !default;
$switch-control-color: white;
$switch-width: 42px !default;
$switch-height: 24px !default;
$switch-gutter: 4px !default;
$switch-radius: 50%;
$switch-control-speed: 0.1s !default;
$switch-control-ease: ease-in !default;
$switch-radius: calc($switch-height / 2);
$switch-control-size: $switch-height - ($switch-gutter * 2) !default;
