// Global Styles
// by. iduk
// Kor

*,
*::before,
*::after {
  box-sizing: border-box;
}

// @font-face {
//   font-family: 'Noto Sans KR';
//   font-weight: 400;
//   src: local('Noto Sans KR'),
//     url('static/fontsNotoSans-Regular.otf') format('otf'),
//     url('static/fontsNotoSans-Regular.woff') format('woff'),
//     url('static/fontsNotoSans-Regular.woff2') format('woff2'),
//     url('static/fontsNotoSans-Regular.eot?#iefix') format('embedded-opentype');
// }

// @font-face {
//   font-family: 'Noto Sans KR';
//   font-weight: 500;
//   src: local('Noto Sans KR'),
//     url('static/fontsNotoSans-Regular.otf') format('otf'),
//     url('static/fontsNotoSans-Medium.woff') format('woff'),
//     url('static/fontsNotoSans-Medium.woff2') format('woff2'),
//     url('static/fontsNotoSans-Medium.eot?#iefix') format('embedded-opentype');
// }

// @font-face {
//   font-family: 'Noto Sans KR';
//   font-weight: 700;
//   src: local('Noto Sans KR'),
//     url('static/fontsNotoSans-Regular.otf') format('otf'),
//     url('static/fontsNotoSans-Bold.woff') format('woff'),
//     url('static/fontsNotoSans-Bold.woff2') format('woff2'),
//     url('static/fontsNotoSans-Bold.eot?#iefix') format('embedded-opentype');
// }

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI';
}

ul,
li,
dt,
dd {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

// 3D effect 원근법 효과
.effect {
  perspective: 800px;

  &--child {
    transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
    transition: 0.3s;

    &:hover,
    &:focus {
      transform: rotate(0);
    }
  }
}

// animation gradient button
.anim-bg-gradient {
  background: linear-gradient(120deg, #0044ff, #00d9ff, #ff7300);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  border: none;
  color: black;

  &:hover,
  &:focus {
    background-position: 0 0;
    color: black;
  }
}

// animation Text Underline
.anim-underline-fx {
  background-image: linear-gradient(to right, #0044ff 50%, #00ffbf 50%);
  background-size: 200% 4px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-position 0.3s;

  &:hover,
  &:focus {
    background-position: 0% 100%;
  }
}

.text-gradient {
  font-size: 4em;
  font-weight: bold;
  text-align: center;

  @supports (--css: variables) {
    background: linear-gradient(to right, darkblue, darkorchid);
    color: transparent;
    background-clip: text;
  }

  &::selection {
    color: white;
    background: darkorchid;
  }
}
.scroll-snap {
  // set height + overflow
  --scroll-gap: 1em;
  overflow: auto;
  padding: var(--scroll-gap) 0;
  scroll-snap-type: y mandatory;

  &__child {
    scroll-snap-align: center;

    // align content
    display: flex;
    align-items: center;
    justify-content: center;

    // set height
    height: calc(100% - 3 * var(--scroll-gap));

    // style stuff
    border-radius: 0.4em;
    padding: 1.25em;
    box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03),
      0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);

    // grid gap
    &:not(:last-child) {
      margin-bottom: var(--scroll-gap);
    }
    // style stuff
    &:nth-child(1) {
      background-color: #0044ff;
    }
    &:nth-child(2) {
      background-color: #25bbe0;
    }
    &:nth-child(3) {
      background-color: #88ff00;
    }
    &:nth-child(4) {
      background-color: #ffe600;
    }
    &:nth-child(5) {
      background-color: #ff6600;
    }
  }
}

.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: 'Yeseva One';
}

.box-enter {
  opacity: 0;
  transform: scale(0.6);
}

.box-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 1000ms;
}

.box-exit {
  opacity: 1;
  transform: scale(1);
}

.box-exit-active {
  opacity: 0;
  transform: scale(0.6);
  transition: all 1000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
