// Global Styles
// by. iduk
// Kor

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'), url('@/assets/fonts/woff2/Pretendard-Bold.woff2') format('woff2'), url('@/assets/fonts/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'), url('@/assets/fonts/woff2/Pretendard-SemiBold.woff2') format('woff2'), url('@/assets/fonts/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'), url('@/assets/fonts/woff2/Pretendard-Medium.woff2') format('woff2'), url('@/assets/fonts/woff/Pretendard-Medium.woff') format('woff');
}


html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI';
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}

.guide, .guide * {
  background-color: rgb(#f00, 0.15);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $black;

  &:is(:hover, :focus, :visited, :active) {
    color: inherit;
  }
}

p {
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

hr,
.hr {
  background-color: var(--gray-5);
  height: 1px;
  border: 0;
  margin: 2rem 0;
}
img {
  object-fit:fill;
}


// Dropdown Opacity
.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 0.3s;
}

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

// Fade Opacity
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0
}